[Unit]
Description=MeterReader daemon
After=network.target

[Service]
User=root
Type=simple
TimeoutStopSec=10
Nice=-10
ExecStart=/usr/local/bin/MeterReader  -q --gpio GPIO17 --interval 60

Restart=on-failure
RestartSec=42s
SuccessExitStatus=SIGKILL

[Install]
WantedBy=default.target
