[Unit]
Description=MeterReader daemon
After=MeterReader.service

[Service]
User=root
Type=simple
TimeoutStopSec=10
ExecStart=/usr/local/bin/MeterServer -q

Restart=on-failure
RestartSec=42s
SuccessExitStatus=SIGKILL

[Install]
WantedBy=default.target
